name = "trueleap-inc"
account_id = "b01357b51e0ceb9e37e2bdf82bbcbc34"
main = "./dist/_worker.js/index.js"
compatibility_date = "2026-02-04"
compatibility_flags = ["nodejs_compat"]

[assets]
binding = "ASSETS"
directory = "./dist"

[[r2_buckets]]
binding = "IMAGES_BUCKET"
bucket_name = "trueleap-images"

[observability]
enabled = true
